
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-grid-column-full">
      <!-- <h1 class="page-header" style="font-size: 2.42em;  font-family: Arial; font-weight:bold;">
      Alpha assessment by criteria

      </h1>
      <!-- {{releaseVersion | log }} -->
      <span class="govuk-caption-l">Information and documents to support</span>
      <h1 class="govuk-heading-l">    Alpha assessment by criteria</h1>






      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
              Service description
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">

              Find a solution to an employment dispute
              <!-- Find a solution to your employment dispute and start early conciliation -->
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
      <p>
<!-- Use this form to notify Acas that you want to: -->

        Use this service to start the legal process in which you tell Acas that you want to:

      </p>

            <ul class="govuk-list govuk-list--bullet">

              <li>
                try our free early conciliation service
                <!-- - where we speak to you and your employer to see if you can reach an agreement -->
              </li>
              <li>
              get a certificate to make a claim to an employment tribunal
              </li>

            </ul>

            <p> This service allows claimants or their representatives to notify Acas of a workplace dispute and choose whether they want early conciliation or to get a certificate to the employment tribunal for a judge to decide. It is a statutory service, and claimants cannot access the employment tribunal without first making a notification to Acas. Acas receives around 120,000 notifications a year.   </p>

<p> Early conciliation is a largely telephone-based service that involves speaking with individuals and organisations in the dispute. Highly-trained conciliators help parties understand relevant legal principles and assist them to reach a resolution.
  </p>

  <p>If a resolution cannot be found, or the claimant does not want conciliation, then Acas provides a certificate that allows parties to take their dispute to the employment tribunal.  </p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                Service users
              </span>
            </h2>


            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
Claimants and Representatives
            </div>
          </div>


          <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">


<h3  class="govuk-heading-m"> Overview of service users </h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
            “Claimants” – individuals with a workplace dispute
              </li>
              <li>
              “Representatives” – solicitors, legal advisors, trades’ union representatives or family members/friends who speak to Acas on behalf of a claimant
              </li>

            </ul>
            <h3  class="govuk-heading-m"> High level user needs this service aims to meet</h3>
              <ol class="govuk-list govuk-list--bullet">
            <li>  As a claimant I need to tell Acas about my workplace dispute so that I can take my employer to an employment tribunal or reach a settlement through early conciliation</li>
            <li>  As a representative I need to tell Acas about a workplace dispute so that a claimant can take their employer to an employment tribunal or reach a settlement through early conciliation  </li>

            </ol>

          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                1. Understand users and their needs
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
               User needs, personas, pain points, accessibility needs and opportunities.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">

            <h2 class="govuk-heading-m">Present and future service maps</h2>
            <p>We ran team workshops to map out user needs and pain points discovered through user research. The workshops supported team conversation and increased shared understanding of our users current experience, their frustrations and annoyances.
            </p>
            <p class="govuk-heading-">Below are links to view <strong style="font-weight: bold">AS-IS (Present) </strong> and <strong style="font-weight: bold">TO-BE (Future) </strong>  end to end service user journey maps with pain points, user needs and opportunities to improve the service, which are mapped out all through the journey.</p>





            <ul class="govuk-list govuk-list--bullet">

              <li> <a class="govuk-link" href="https://miro.com/app/board/uXjVOfYAYz0=/?invite_link_id=746334302668" target="_blank">Simplified present and future journey comparison</a></li>

            <li><a class="govuk-link" href="https://miro.com/app/board/uXjVOUCR9jM=/?invite_link_id=546295700965" target="_blank">AS-IS (Present) service blue print</a></li>
              <li> <a class="govuk-link" href="https://miro.com/app/board/uXjVOUKTPeU=/?invite_link_id=983093137885" target="_blank">TO-BE (Future) service blue print</a></li>
</ul>
<p class="govuk-heading-">Below are links to view <strong style="font-weight: bold">AS-IS (Present) form </strong> and <strong style="font-weight: bold">TO-BE (Future) form </strong> form with pain points, user needs and opportunities to improve the user experince.</p>

              <ul class="govuk-list govuk-list--bullet">
                  <li>
                <a class="govuk-link" href="https://miro.com/app/board/o9J_lkmRzAo=/?invite_link_id=216652241881" target="_blank">AS-IS (Present) form </a> with user needs, painpoints, strengths, weakness, opportunities and recommendations</li>
                <li>
                  <a class="govuk-link" href="https://miro.com/app/board/uXjVOdgHve8=/?invite_link_id=375827538891" target="_blank">TO-BE (Future) form </a> with research notes</li>

</ul>

<h2 class="govuk-heading-m">User needs and user stories</h2>

<p class="govuk-heading-">A clear set of <strong> user needs and user stories </strong> were defined during discovery, through insight gained by talking to the different people involved in the service. In Alpha, we focused on providing a streamlined, intuitive online form
, that will increase efficiency by capturing and
promoting only relevant information, reducing error
rates, and notifying Acas more quickly to
enable better resource management. </p>

  <ul class="govuk-list govuk-list--bullet">

    <li>
      <a class="govuk-link" href="https://miro.com/app/board/uXjVOSgLT54=/?invite_link_id=47811892949" target="_blank" >User needs and user stories</a>


    </li>
    <li>
      <a class="govuk-link" href="#" target="_blank"> Personas for their user types, highlighting: roles, pain points and digital proficiency</a>
    </li>
              <li>A discovery was completed in Spring 2021 to map the entire end to end service. The discovery has resulted in a programme of work to transform the individual dispute resolution service, incuding the notification element which can be found at <a class="govuk-link" href="https://tell.acas.org.uk"> https://tell.acas.org.uk</a>.
            <br>    You can <a class="govuk-link" href="https://www.acas.org.uk/sites/default/files/2021-07/IDR%20Discovery%20-%20Final%20Report%202021_1.pdf" target="_blank"> read the discovery report here </a>
              <br>  </li>


</ul>

<h2 class="govuk-heading-m">Accessibility and Assissted digital </h2>
  <ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="DAC-Accessibility-Report-2021.pdf" target="_blank">Old DAC accessibility report - March 2021</a>
  </li>

  <li>
    <a class="govuk-link" href="#" target="_blank">New DAC accessibility report on Alpha the prototype - Feb 2022</a>



      <li>
        <a class="govuk-link" href="Heuristic-Review-Tell-ACAS.pdf" target="_blank">Heuristic Review </a>
      </li>
              <li>
                <a class="govuk-link" href="#" target="_blank">Accessibility testing with users</a>
</li>
              <li>
                <a class="govuk-link" href="#" target="_blank">Assissted digital </a>


              </li>




              <li>
                <a class="govuk-link" href="tell-acas-notification-paper-form-individuals-dec-21.pdf" target="_blank">Paper form as of December 2021</a>
              </li>

                <li>
                                <a class="govuk-link" href="#" target="_blank"> Plans for Beta</a>
                              </li>


            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                2. Solve a whole problem for users
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-4">
              How the service intends to solve one whole problem for users, collaborating across organisational boundaries where necessary.
            </div>
          </div>
          <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
            <ul class="govuk-list">
              <li>

<h3>Problem to be solved </h3>

<p>
    Offer our users the simplest and most accessible journey to help them resolve their employment dispute at the earliest point possible, and ensure that they experience a high-quality, value-added service that leads to an appropriate outcome for their case.</p>

  <p>Explore targeted microguidance and other notification form interventions that will help users notify successfully, reduce invalid or out of time cases and improve the quality of the information provided to conciliators to help them resolve cases faster and more often. </p>
              </li>
              <li>
                <a class="govuk-link" href="#">Clear and actionable pain points </a>
              </li>

              <li>
                <a class="govuk-link" href="#">How we are collaborating across organisational boundaries?</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Plans for Beta</a>
              </li>
              <li>
                <a class="govuk-link" href="#">Retiring your service</a>
              </li>
            </ul>
          </div>
        </div>


<!-- start accordion  -->

  <div class="govuk-accordion__section ">
   <div class="govuk-accordion__section-header">
     <h2 class="govuk-accordion__section-heading">
       <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
         3. Provide a joined-up experience across all channels
       </span>
     </h2>
     <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
       How we intend to meet users’ needs across all channels, including online, phone, paper and face to face.
     </div>
   </div>
   <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
     <ul class="govuk-list">
       <li>
         <a class="govuk-link" href="#">Assissted digital </a>
       </li>
       <li>
         <a class="govuk-link" href="#">Plans for Beta </a>
       </li>

     </ul>
   </div>
 </div>

 <!-- close accordion  -->

 <!-- start accordion  -->

   <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          4. Make the service simple to use
        </span>
      </h2>
      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
        How we are building a service that’s simple, intuitive and comprehensible. And test it with users to make sure it works for them.
      </div>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">How are we going to make the service simple to use</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Plans for Beta </a>
        </li>

      </ul>
    </div>
  </div>

  <!-- close accordion  -->

  <!-- start accordion  -->

    <div class="govuk-accordion__section ">
     <div class="govuk-accordion__section-header">
       <h2 class="govuk-accordion__section-heading">
         <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
        5. Make sure everyone can use the service
         </span>
       </h2>
       <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
         How we will meet accessibility standards, not exclude any users and plans for Assissted digtal
       </div>
     </div>
     <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
       <ul class="govuk-list">
         <li>
           <a class="govuk-link" href="#">How are we going to make the service simple to use</a>
         </li>
         <li>
           <a class="govuk-link" href="#">Plans for Beta </a>
         </li>

       </ul>
     </div>
   </div>

   <!-- close accordion  -->

   <!-- start accordion  -->

     <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">

  6. Have a multidisciplinary team
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
        Below is our  multidisciplinary team that will create and operate the service in a sustainable way
        </div>
      </div>
      <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Service owner - Samantha Clark
          </li>
          <li>
            Product owner - Kate McCaul
          </li>

          <li>
            Delivery manager - Luke Harrop
          </li>
          <li>
            Lead user researcher - Alison Rogers
          </li>

          <li>
            Lead user researcher - Ross Holloway
          </li>
          <li>
            User researcher - Lydia Chu
          </li>

          <li>
            User researcher - Nick Underwood
          </li>

          <li>
          Content designer - Content workstream 1 - Charlie Stewart
          </li>

        <li>
          Content designer - Content workstream 1 - Rachel Ricks
        </li>
        <li>
          Content designer - Content workstream 1 - Maudie Cousins
        </li>


          <li>
            Service designer - Daniel Da Silveira
          </li>
          <li>
          Creative director - Mark Harrop
          </li>
          <li>
          Interaction designer - Sunil Kathare
          </li>

          <li>
          Interaction designer - Jon Hardcastle
          </li>

          <li>
            Accessibility Lead - Ben Evans
          </li>

          <li>
          Assissted digtal Lead - Ben Evans
          </li>
          <li>
            Front-end developer - Ben Evans
          </li>
          <li>
            Back-end developer - Szilvia Beky
          </li>
          <li>
            Solutions Architect - Ed Brown
          </li>

          <li>
            DevOps Specialist -  Robert Bolfa
          </li>
          <li>
            Tech Lead and Agile (scrum) specialist - Laurent Hautefeuille
          </li>

          <li>
            <a class="govuk-link" href="#">Plans for Beta </a>
          </li>

        </ul>
      </div>
    </div>

    <!-- close accordion  -->


    <!-- start accordion  -->

      <div class="govuk-accordion__section ">
       <div class="govuk-accordion__section-header">
         <h2 class="govuk-accordion__section-heading">
           <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
      7.  Use agile ways of working
           </span>
         </h2>
         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
           Create the service using agile, iterative user-centred methods.
         </div>
       </div>
       <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
         <ul class="govuk-list  govuk-list--bullet"">
           <li>
             use agile ways of working - inspecting, learning and adapting as they go
           </li>

           <li>
             <a class="govuk-link" href="#">Our process  </a>
           </li>
           <li>
             <a class="govuk-link" href="#">Plans for Beta </a>
           </li>

         </ul>
       </div>
     </div>

     <!-- close accordion  -->
     <!-- start accordion  -->

       <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
    8. Iterate and improve frequently
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
            How we are working with our organisation to make sure that we’re able to focus on improvements that have the most value.
          </div>
        </div>
        <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
          <ul class="govuk-list  govuk-list--bullet"">
            <li>
            How we are making continuous improvement to respond to changes in user needs, technology or government policy throughout the lifetime of the service.
            </li>

            <li>
              <a class="govuk-link" href="#">Our process  </a>
            </li>
            <li>
              <a class="govuk-link" href="#">Plans for Beta </a>
            </li>

          </ul>
        </div>
      </div>

      <!-- close accordion  -->

      <!-- start accordion  -->

        <div class="govuk-accordion__section ">
         <div class="govuk-accordion__section-header">
           <h2 class="govuk-accordion__section-heading">
             <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
     9. Create a secure service which protects users’ privacy
             </span>
           </h2>
           <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
             How we intend to evaluate data the service will be collecting, storing and providing.
         </div>
         <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
           <ul class="govuk-list  govuk-list--bullet"">
             <li>
            actively identify security and privacy threats to the service, and have a robust, proportionate approach to securing information and managing fraud risks.
             </li>

             <li>
               <a class="govuk-link" href="#">have a plan and budget that lets them manage security during the life of the service (for example by responding to new threats, putting controls in place and applying security patches to software) </a>
             </li>
             <li>
               <a class="govuk-link" href="#">Plans for Beta </a>
             </li>

           </ul>
         </div>
       </div>

       <!-- close accordion  -->

       <!-- start accordion  -->

         <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
    10. Define what success looks like and publish performance data
              </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              What success looks like for our service and metrics which will tell what’s working and what can be improved, combined with user research.
          </div>
          <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
            <ul class="govuk-list  govuk-list--bullet"">
              <li>
            identify metrics which will indicate how well the service is solving the problem it’s meant to solve, and track performance against them
              </li>

              <li>
                use performance data to make decisions about how to fix problems and improve the service
              </li>
              <li>
                <a class="govuk-link" href="#">Plans for Beta </a>
              </li>

            </ul>
          </div>
        </div>

        <!-- close accordion  -->


        <!-- start accordion  -->

          <div class="govuk-accordion__section ">
           <div class="govuk-accordion__section-header">
             <h2 class="govuk-accordion__section-heading">
               <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
      11. Choose the right tools and technology
               </span>
             </h2>
             <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
               Tools and technology that we are using tocreate a high quality service in a cost effective way
           </div>
           <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
             <ul class="govuk-list  govuk-list--bullet"">
               <li>
            list tools and technologies to create and operate a good service in a cost effective way - for example, by automating things where possible
               </li>

               <li>
                 effective approach to managing any legacy technology the service integrates with or depends on
               </li>
               <li>
                 <a class="govuk-link" href="#">Plans for Beta </a>
               </li>

             </ul>
           </div>
         </div>

         <!-- close accordion  -->

         <!-- start accordion  -->

           <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
      12. Make new source code open
                </span>
              </h2>
              <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
              How we will make all new source code open and reusable, and publish it under appropriate licences
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
              <ul class="govuk-list  govuk-list--bullet"">

                <li>
             Here is a link to the code repo on ACAS Githuib:

https://github.com/AcasDigital/tellacas.git
                </li>
                <li>
             write code in the open from the start, and publish it in an open repository - minus any sensitive information, like secret keys and credentials
                </li>

                <li>
                  keep ownership of the intellectual property of new source code that’s created as part of the service, and make it available for reuse under an open licence
                </li>
                <li>
                  <a class="govuk-link" href="#">Plans for Beta </a>
                </li>

              </ul>
            </div>
          </div>

          <!-- close accordion  -->

          <!-- start accordion  -->

            <div class="govuk-accordion__section ">
             <div class="govuk-accordion__section-header">
               <h2 class="govuk-accordion__section-heading">
                 <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
       13. Use and contribute to open standards, common components and patterns
                 </span>
               </h2>
               <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
               How we will build on open standards and common components and patterns from inside and outside government
             </div>
             <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
               <ul class="govuk-list  govuk-list--bullet"">
                 <li>
              use open standards, and propose a new open standard if there is not one that already meets their needs
                 </li>

                 <li>
                use standard government technology components where possible
                 </li>
                 <li>
                   <a class="govuk-link" href="#">Plans for Beta </a>
                 </li>

               </ul>
             </div>
           </div>

           <!-- close accordion  -->

           <!-- start accordion  -->

             <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
        14. Operate a reliable service
                  </span>
                </h2>
                <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-3">
                How we intend to minimise service downtime and our plan to deal with it when it does happen.
              </div>
              <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
                <ul class="govuk-list  govuk-list--bullet"">
                  <li>
            <a class="govuk-link" href="#">  Things we do to maximise uptime and speed of response for the online part of the service</a>
                  </li>

                  <li>
                 How we will carry out quality assurance testing regularly
                  </li>
                  <li>
                    <a class="govuk-link" href="#">Plans for Beta </a>
                  </li>

                </ul>
              </div>
            </div>

            <!-- close accordion  -->



      </div>















    </div>
  </div>

{% endblock %}
