
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="index" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form class="form" action="/who-are-you-representing" method="post">



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="page-header" style="font-size: .9em;  font-family: Arial; font-weight:bold;">
          Who are you representing?

          </h1>
        </legend>
        <!-- <div id="changed-name-hint" class="govuk-hint">
           Select more information needed for your case.
        </div> -->
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="representing-myself" name="representing" type="radio" value="myself">
            <label class="govuk-label govuk-radios__label" for="representing-myself">
              Myself
            </label>
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representing-others" name="representing" type="radio" value="others">
              <label class="govuk-label govuk-radios__label" for="representing-others">
                Others
              </label>
            </div>

        </div>

      </fieldset>
    </div>




            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
