
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="a-01-represent" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form class="form" action="/rep-others" method="post">



      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" style="font-size: .9em;  font-family: Arial; font-weight:bold;">
              What is your relationship with claimant?
            </h1>
          </legend>
          <div id="contact-hint" class="govuk-hint">
          Select one option.
          </div>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <!-- <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="representing" type="radio" value="myself" data-aria-controls="conditional-contact-">
              <label class="govuk-label govuk-radios__label" for="contact">
Laywer or trade union rep
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                Specify relationship. For example, Lawyer
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email"></div>

            </div> -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="rep-relationship" type="radio" value="family-friend" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                Family or friend
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-phone">
                  Specify relationship. For example, Brother
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel"></div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-3" name="rep-relationship" type="radio" value="leag-rep" data-aria-controls="conditional-contact-3">
              <label class="govuk-label govuk-radios__label" for="contact-3">
          Professional Trade Union representative or Solicitor
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-text">
                  Specify relationship. For example, Solicitor
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel"></div>

            </div>
          </div>

        </fieldset>
      </div>



            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
