
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="a-01-represent" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



    <form class="form" action="/try-ec-myself" method="post">



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="page-header" style="font-size: .9em;  font-family: Arial; font-weight:bold;">
            Would you like to try the free early conciliation service?

          </h1>
        </legend>


        <div class="govuk-inset-text- guidance-purple-border-thin" style="">

          <details class="govuk-details" data-module="govuk-details" style="display:none;">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text white-text">
      Why try early conciliation?
      </span>
    </summary>



    <div class="govuk-details__text">
      <!-- <p class="govuk-body">You can buy:</p> -->
    <ul class="govuk-list govuk-list--bullet">
      <li>it is free</li>
      <li>it is less stressful than going through the employment tribunal process</li>
      <li>early conciliation is usually completed in 6 weeks, going to employment tribunal can take much longer</li>
      <li>If you don’t reach a resolution using early conciliation you can still choose to take your claim to employment tribunal.</li>
    </ul>
    </div>
  </details>

  <h2 class=" govuk-heading-s green-text" style="font-weight:bold; "> Why try early concilation?</h2>
<!--
    See if you can find a solution to this employment dispute without going to tribunal by using early concilation as it: -->
          <ul class="govuk-list govuk-list--bullet">
            <li>it is free</li>
            <li>it is more flexible - it gives a wider range of options for resolving the issue</li>
            <li>it is quicker - usually a maximum of 6 weeks compared to up to 1 year's wait for an employment tribunal</li>
            <li>it is easier - you can arrange calls or emails with your conciliator aorund your day</li>
            <li>it is less stressful - you  do not have to speak  with the employer directly as your conciliator can speak with you both separately</li>

            <li>it gives you more control over the outcomes you can agree the employer</li>

          </ul>

          <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            If early conciliation is not successful you can still go to the employment tribunal.
          </strong>
          </div>
        </div>

        <!-- <div id="changed-name-hint" class="govuk-hint">
    See if I can find a solution to this employment dispute without going to tribunal.
        </div> -->
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="try-ec-1" name="try-ec" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="try-ec-1">
              Yes, I would like to try early conciliation
              <!-- (it is still possible to go to employment tribunal) -->
            </label>
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no-ec-1" name="try-ec" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no-ec-1">
                No, I want the certificate to go the employment tribunal
              </label>
            </div>

        </div>

      </fieldset>
    </div>




            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
