
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="a-01-represent" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



    <form class="form" action="/try-ec" method="post">



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="page-header" style="font-size: .9em;  font-family: Arial; font-weight:bold;">
            Would you like to try the free early concilation service?

          </h1>
        </legend>


        <div class="govuk-inset-text- guidance-purple-border-thin">

          <details class="govuk-details" data-module="govuk-details" style="display:none;">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text white-text">
      Why try early concilation?
      </span>
    </summary>



    <div class="govuk-details__text">
      <!-- <p class="govuk-body">You can buy:</p> -->
    <ul class="govuk-list govuk-list--bullet">
      <li>it is free</li>
      <li>it is less stressful than going through the employment tribunal process</li>
      <li>early conciliation is usually completed in 6 weeks, going to employment tribunal can take much longer</li>
      <li>If you don’t reach a resolution using early conciliation you can still choose to take your claim to employment tribunal.</li>
    </ul>
    </div>
  </details>

  <h3 class=" govuk-heading-s green-text" style="font-weight:bold; ">See if you can find a solution to this employment dispute without going to tribunal by using early concilation as it:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>is free</li>
            <li>is quicker - usually a maximum of 6 weeks compared to up to 1 year's wait for an employment tribunal</li>
            <li>is easier - you can arrange calls or emails with your conciliator aorund your day</li>
            <li>is less stressful - you  do not have to speak  with the employer directly as your conciliator can speak with you both separately</li>
            <li>is more flexible - it gives awider range of options for resolving the issue</li>
            <li>gives you more control over the outcomes you can sgree the employer</li>
            <ii>
          </ul>
          <a class="pruple-text" href="https://youtu.be/R_RfhGIctKk?t=48" target="_blank">

<svg width="20" height="20" viewBox="0 0 22 22" fill="none" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>

  Watch a video on the benefits
          <!-- Why try early concilation? -->
          <!-- Video on benefits and testimoninals from that have used early concilation -->
        <!-- Watch a video on the benefits and testimonials from people that have saved time and money using early conciliation -->

        </a>
        </div>

        <!-- <div id="changed-name-hint" class="govuk-hint">
    See if I can find a solution to this employment dispute without going to tribunal.
        </div> -->
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="representing" name="try-ec" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes, I would like to try early concilation
            </label>
          </div>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="representing" name="try-ec" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                No, I want the certificate to go the emplyment tribunal
              </label>
            </div>

        </div>

      </fieldset>
    </div>




            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
