
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="task-list" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="page-header" style="font-size: 2em; font-family: Arial; font-weight:bold;">
      Enter your email address
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>


      {% if data['change'] == "true" %}
        <form action="check-your-answers#name">

      {% else %}

        <form action="task-list">
      {% endif %}



    <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        Email address
      </label>


  <div id="email-hint" class="govuk-hint">
  <p>    This will only be used to send you a link return to the form or a certifciate. </p>

  </div>

    <input class="govuk-input" id="email" name="claimant-email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email" value="{{ data['claimant-email'] }}">
  </div>




            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
