
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="task-list" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">




      <!-- <h1 class="page-header" style="font-size: 2.42em;  font-family: Arial; font-weight:bold;">
      Provide correct legal name address of
       <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1> -->


      {% if data['change'] == "true" %}
        <form action="check-your-answers#e-address">

      {% else %}

        <form action="task-list">
      {% endif %}



      <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading" style="font-size: .9em;  font-family: Arial; font-weight:bold;">
            Is the claim against an organisation or a person?
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
       In most cases the claim should be made against the organisation named in the payslip not the HR or the line manager. Make sure you put the legal name.
        </div>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="employer-type" type="radio" value="organisation" data-aria-controls="conditional-contact" {{ checked('employer-type','organisation') }}>
            <label class="govuk-label govuk-radios__label" for="contact">
              Organisation
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
              <div class="govuk-form-group">
                <label class="govuk-label" for="full-name">
                  Legal name
                </label>
                <div id="more-detail-hint" class="govuk-hint">

              <!-- To avoid jeopardising your case we will need the legal name of the organisation.  -->

            Get the name from your P45, P60 or recent payslip. <br> For example, BLUE BOX LIMITED.

            <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Useful links to name lookups
      <!-- Link to Companies House search, if they have ‘ltd’ or ‘Limited’ at the end of their name -->
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-hint" style="font-size:.9em">
  <br>
     If they have ‘Plc’, ‘ltd’ or ‘Limited’ at the end of their name, they’ll be a company and you can check the <a href="https://find-and-update.company-information.service.gov.uk" target="_blank">Companies House information</a> on GOV.UK.
        </p>
  <p class="govuk-hint" style="font-size:.9em">  If you are looking for the name of a school, you can check <a href="https://get-information-schools.service.gov.uk" target="_blank">Information about schools </a> on GOV.UK.

      <!-- Look up <a href="https://find-and-update.company-information.service.gov.uk" target="_blank">Companies House search</a> or <a href="https://get-information-schools.service.gov.uk" target="_blank">Information about schools search</a> on GOV.UK to double check the legal name and address are correct. -->
        <!-- You cIf you can find the orgainsation on GOV.UK companies house register, you can copy and paste the name from here -->
    </p>
  </div>
</details>
                </div>
                <input class="govuk-input" id="company-1-legal-name" name="company-1-legal-name" type="text" spellcheck="false" autocomplete="name" value="{{ data['company-1-legal-name'] }}"></div>

                <div class="govuk-form-group">
                  <label class="govuk-label" for="full-name">
                  Legal address
                  </label>
                <div id="more-detail-hint" class="govuk-hint">
                 This  may be the head office or registered office address.<br>

  Get the address from your P45, P60 or recent payslip.
  <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
  <span class="govuk-details__summary-text">
  Useful links to address lookups
  <!-- Link to Companies House search, if they have ‘ltd’ or ‘Limited’ at the end of their name -->
  </span>
  </summary>
  <div class="govuk-details__text">
  <p class="govuk-hint" style="font-size:.9em">
  <br>
  If they have ‘Plc’, ‘ltd’ or ‘Limited’ at the end of their name, they’ll be a company and you can check the <a href="https://find-and-update.company-information.service.gov.uk" target="_blank">Companies House information</a> on GOV.UK.
  </p>
  <p class="govuk-hint" style="font-size:.9em">  If you are looking for the address of a school, you can check <a href="https://get-information-schools.service.gov.uk" target="_blank">Information about schools </a> on GOV.UK.

  <!-- Look up <a href="https://find-and-update.company-information.service.gov.uk" target="_blank">Companies House search</a> or <a href="https://get-information-schools.service.gov.uk" target="_blank">Information about schools search</a> on GOV.UK to double check the legal name and address are correct. -->
  <!-- You cIf you can find the orgainsation on GOV.UK companies house register, you can copy and paste the name from here -->
  </p>
  </div>
  </details>
              <!-- Please copy the address from your P45, P60, payslip, contract or letter of employment. If you can find the orgainsation on GOV.UK companies house register, you can copy and paste the registered address from <a href="https://find-and-update.company-information.service.gov.uk" target="_blank">here</a> -->

                <!-- You have to give us their formal, legal address if you want to use this service. This
              may be the head office or registered office address and not your workplace. Look
              on your payslip, contract, or other documents from your employer. You can also
              search online. -->

                </div>

                  <textarea class="govuk-textarea" id="more-detail" name="company-1-address" rows="3">{{ data['company-1-address'] }}</textarea>

                  <!-- <div id="waste-hint" class="govuk-hint">
                       Please confirm if you have copied the address from P45, P60, payslip, contract or letter of employment.
                     </div>
                     <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                       <div class="govuk-checkboxes__item">
                         <input class="govuk-checkboxes__input" id="waste" name="copied" type="checkbox" value="Yes" {{ checked('copied','Yes') }}>
                         <label class="govuk-label govuk-checkboxes__label" for="waste">
                        Yes, the address has been copied the name from P45, P60, payslip, contract or letter of employment.
                         </label>
                       </div>
                  </div> -->



<hr>
<h3 class="govuk-heading-s"> Give the details of someone we can contact to see if the organisation is willing to sort things out without going to employment tribunal. This will usually be an HR officer or a senior member of staff. </h3>

                                  <div class="govuk-form-group">
                                    <label class="govuk-label" for="full-name">
                                      Job title
                                    </label>
                                    <!-- <div id="more-detail-hint" class="govuk-hint">
                                  To avoid jeopardising your case we need your correct legal name
                                </div> -->
                                    <input class="govuk-input" id="full-name" name="company-1-job-title" type="text" spellcheck="false"  value="{{ data['company-1-job-title'] }}"></div>


                                    <div class="govuk-form-group">
                                      <label class="govuk-label" for="full-name">
                                        Full name
                                      </label>
                                      <!-- <div id="more-detail-hint" class="govuk-hint">
                                    To avoid jeopardising your case we need your correct legal name
                                  </div> -->
                                      <input class="govuk-input" id="full-name" name="company-1-full-name" type="text" spellcheck="false"  value="{{ data['company-1-full-name'] }}"></div>

                                      <div class="govuk-form-group">
                                        <label class="govuk-label" for="full-name">
                                          Email address
                                        </label>
                                        <!-- <div id="more-detail-hint" class="govuk-hint">
                                      To avoid jeopardising your case we need your correct legal name
                                    </div> -->
                                        <input class="govuk-input" id="full-name" name="company-1-email" type="text" spellcheck="false"  value="{{ data['company-1-email'] }}"></div>
                                        <div class="govuk-form-group">
                                          <label class="govuk-label" for="full-name">
                                            Phone number
                                          </label>
                                          <!-- <div id="more-detail-hint" class="govuk-hint">
                                        To avoid jeopardising your case we need your correct legal name
                                      </div> -->
                                          <input class="govuk-input" id="full-name" name="company-1-phone" type="text" spellcheck="false"  value="{{ data['company-1-phone'] }}"></div>

<hr>

<h3 id="waste-hint" class="govuk-heading-s">
     Can we speak to the organisation your dispute is against before speaking with you?
   </h3>
   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="waste" name="company-1-consent" type="checkbox" value="Yes" {{ checked('company-1-consent','Yes') }}>
       <label class="govuk-label govuk-checkboxes__label" for="waste">
      Yes, I give permission to speak to the organisation first to speed up early concilation.
       </label>
     </div>
</div>



                </div>

          </div>

          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="employer-type" type="radio" value="person" data-aria-controls="conditional-contact-2" {{ checked('employer-type','person') }}>
            <label class="govuk-label govuk-radios__label" for="contact-2">
              Person
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">

            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                Full name
              </label>
              <div id="more-detail-hint" class="govuk-hint">

           <!-- For exmaple, Joe Bloggs. -->

              </div>
              <input class="govuk-input" id="person-1-legal-name" name="person-1-legal-name" type="text" spellcheck="false" autocomplete="name" value="{{ data['person-1-legal-name'] }}"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="full-name">
                Legal address
                </label>
              <div id="more-detail-hint" class="govuk-hint">
               If you work or worked with this person, you may want to give the organisation's
address. This may be the head office or registered office address and not your workplace.

Get the address from your P45, P60 or recent payslip.
              <!-- You have to give us their formal, legal address if you want to use this service. This
            may be the head office or registered office address and not your workplace. Look
            on your payslip, contract, or other documents from your employer. You can also
            search online. -->

              </div>

                <textarea class="govuk-textarea" id="more-detail" name="person-1-address" rows="3">{{ data['person-1-address'] }}</textarea>


                <!-- <div id="waste-hint" class="govuk-hint">
                     Please confirm if you have copied the address from P45, P60, payslip, contract or letter of employment.
                   </div>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="waste" name="copied-p" type="checkbox" value="Yes" {{ checked('copied-p','Yes') }}>
                       <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Yes, the address has been copied the name from P45, P60, payslip, contract or letter of employment.
                       </label>
                     </div>
                </div> -->



                <hr>
                <h3 class="govuk-heading-s"> Give the details of the person that may be willing to sort things out without going to employment tribunal. This will usually be an HR officer or a senior member of staff. </h3>

                                                  <div class="govuk-form-group">
                                                    <label class="govuk-label" for="full-name">
                                                      Job title
                                                    </label>
                                                    <!-- <div id="more-detail-hint" class="govuk-hint">
                                                  To avoid jeopardising your case we need your correct legal name
                                                </div> -->
                                                    <input class="govuk-input" id="full-name" name="job-employer-c" type="text" spellcheck="false"  value="{{ data['job-employer-c'] }}"></div>


                                                    <div class="govuk-form-group">
                                                      <label class="govuk-label" for="full-name">
                                                        Full name
                                                      </label>
                                                      <!-- <div id="more-detail-hint" class="govuk-hint">
                                                    To avoid jeopardising your case we need your correct legal name
                                                  </div> -->
                                                      <input class="govuk-input" id="full-name" name="full-name-employer-c" type="text" spellcheck="false"  value="{{ data['full-name-employer-c'] }}"></div>

                                                      <div class="govuk-form-group">
                                                        <label class="govuk-label" for="full-name">
                                                          Email address
                                                        </label>
                                                        <!-- <div id="more-detail-hint" class="govuk-hint">
                                                      To avoid jeopardising your case we need your correct legal name
                                                    </div> -->
                                                        <input class="govuk-input" id="full-name" name="email-employer-c" type="text" spellcheck="false"  value="{{ data['email-name-employer-c'] }}"></div>
                                                        <div class="govuk-form-group">
                                                          <label class="govuk-label" for="full-name">
                                                            Phone number (inclcude extension)
                                                          </label>
                                                          <!-- <div id="more-detail-hint" class="govuk-hint">
                                                        To avoid jeopardising your case we need your correct legal name
                                                      </div> -->
                                                          <input class="govuk-input" id="full-name" name="phone-employer-c" type="text" spellcheck="false"  value="{{ data['phone-employer-c'] }}"></div>

                <hr>

                <h3 id="waste-hint" class="govuk-heading-s">
                     Can we speak to the person your dispute is against before speaking with you?
                   </h3>
                   <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                     <div class="govuk-checkboxes__item">
                       <input class="govuk-checkboxes__input" id="waste" name="copied" type="checkbox" value="Yes" {{ checked('copied','Yes') }}>
                       <label class="govuk-label govuk-checkboxes__label" for="waste">
                      Yes, I give permission to speak to the person first to speed up early concilation.
                       </label>
                     </div>
                </div>







              </div>

          </div>
          <!-- <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
            <label class="govuk-label govuk-radios__label" for="contact-3">
              Not sure
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-text">
                Please specify what you know
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel"></div>

          </div> -->
        </div>

      </fieldset>
    </div>



            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>




    </div>
    <!-- <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s green-text" > Useful links</h3>







      </div> -->
  </div>

{% endblock %}
