
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="task-list" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="page-header" style="font-size: 2em; font-family: Arial; font-weight:bold;">

        {% if  data['representing'] == "myself" %}
      Provide repesentative’s name



  {% else %}
  Provide your name
          {% endif %}


      </h1>
<div class="govuk-hint">
    {% if  data['representing'] == "myself" %}
We will contact your representative instead of you to talk about your dispute.
{% else %}

        {% endif %}

 </div>

      {% if data['change'] == "true" %}
        <form action="check-your-answers#name">

      {% else %}

        <form action="task-list#rep-name">
      {% endif %}



    <div class="govuk-form-group">
      <label class="govuk-label" for="full-name">
        Full name (optional)
      </label>
      <div id="more-detail-hint" class="govuk-hint">
    <!-- To avoid jeopardising the case we will need your correct legal name as it appears on the passport -->
  </div>
      <input class="govuk-input govuk-input--width-20" id="rep-full-name" name="rep-full-name-ec" type="text" spellcheck="false" autocomplete="name" value="{{ data['rep-full-name-ec'] }}"></div>




            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
