{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
  <a class="govuk-back-link" href="task-list-no-ec-rep">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">

      <h1 class="page-header" style="font-size: 2m;  font-family: Arial; font-weight:bold;">Check your answers</h1>

       <!-- before sending to ACAS -->

      <h2 class="govuk-heading-m">Claimant details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claimant's legal name
          </dt>
          <dd class="govuk-summary-list__value">
           {{ data['full-name'] }}
           {{ data['full-name-last'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-full-name-no-ec-rep.html?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Claimant's address
          </dt>
          <dd class="govuk-summary-list__value">

                 {{ data['address_line_1'] }} <br>{{ data['address_line_2'] }}
                <br>      {{ data['posttown'] }}
                  <br>      {{ data['postcode'] }}
            <!-- 72 Guild Street
            <br>London
            <br>SE23 6FH -->
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-address-no-ec-rep.html?change=true">
              Change
              <span class="govuk-visually-hidden"> Address</span>
            </a>
          </dd>
        </div>


      </dl>

            <h2 class="govuk-heading-m">Your details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your name
          </dt>
          <dd class="govuk-summary-list__value">
           {{ data['rep-full-name'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-rep-full-name-no-ec-rep.html?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             Your email
          </dt>
          <dd class="govuk-summary-list__value">

              {{ data['claimant-email'] }}


          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-rep-contact-details-no-ec.html?change=true">
              Change
              <span class="govuk-visually-hidden">    Your email</span>
            </a>
          </dd>
        </div>

        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             Your Phone number
          </dt>
          <dd class="govuk-summary-list__value">

        {{ data['phone-rep-no-ec'] }}


          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-rep-contact-details-no-ec.html?change=true">
              Change
              <span class="govuk-visually-hidden">    Your phone</span>
            </a>
          </dd>
        </div> -->


      </dl>

      <h2 class="govuk-heading-m"> Orgainsations or persons the claim is against</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
         Orgainsations or persons
          </dt>
          <dd class="govuk-summary-list__value">

                            {% if  data['employer-type'] == "organisation" %}
                            Organisation
                            {% else %}

                          {% endif %}

                          {% if  data['employer-type'] == "person" %}
                           Person
                          {% else %}

                          {% endif %}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer?change=true">
              Change
              <span class="govuk-visually-hidden"> Change orgainsations or persons </span>
            </a>
          </dd>
        </div>
        {% if  data['employer-type'] == "organisation" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['company-1-legal-name'] }}


          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer-no-ec-name?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">

            {{ data['company-1-ec-address'] }}

            {% if  data['company-1-ec-address_line_2'] %}
                <br>{{ data['company-1-ec-address_line_2'] }}
            {% else %}

            {% endif %}

           <br>      {{ data['company-1-ec_posttown'] }}
             <br>      {{ data['company-1-ec_postcode'] }}
             <br>



               <!-- {{ data['company-1-address'] }}
            {{ data['person-1-address'] }} -->
            <!-- 171 Victoria Street
            <br>London
            <br>SW1E 5NN -->
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer-no-ec-address?change=true">
              Change
              <span class="govuk-visually-hidden"> Address</span>
            </a>
          </dd>
        </div>

        {% else %}

      {% endif %}

      {% if  data['employer-type'] == "person" %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Name
        </dt>
        <dd class="govuk-summary-list__value">

    {{ data['person-1-legal-name'] }}

        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="a-employer-no-ec-name-myself-person?change=true">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">




           {{ data['person-1-ec-address'] }} <br>{{ data['person-1-ec-address_line_2'] }}
          <br>      {{ data['person-1-ec_posttown'] }}
            <br>      {{ data['person-1-ec_postcode'] }}
            <br>
             <!-- {{ data['company-1-address'] }}
          {{ data['person-1-address'] }} -->
          <!-- 171 Victoria Street
          <br>London
          <br>SW1E 5NN -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="a-employer-no-ec-address-myself-person?change=true">
            Change
            <span class="govuk-visually-hidden"> Address</span>
          </a>
        </dd>
      </div>

      {% else %}

    {% endif %}





        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Name and address copied from a P45, P60, payslip, contract or letter of employment
          </dt>
          <dd class="govuk-summary-list__value">


            {% if  data['copied'] %}
            {{ data['copied'] }}
            {% else %}


            {% if  data['copied-p'] %}
            {{ data['copied-p'] }}
            {% else %}
            No
            {% endif %}
            {% endif %}



          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div> -->


      </dl>

      <!-- <h2 class="govuk-heading-m">Case details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for dispute
          </dt>
          <dd class="govuk-summary-list__value">
          Holiday pay incorrect.  <br> Even two months, after I left the company, I have been paid for unused holidays.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> Reason for dispute</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How much do you want claim?
          </dt>
          <dd class="govuk-summary-list__value">
          £1,800
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> How much do you want claim?</span>
            </a>
          </dd>
        </div>

      </dl> -->

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation-no-ec-rep" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
