{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
  <a class="govuk-back-link" href="task-list">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">

      <h1 class="page-header" style="font-size: 2m;  font-family: Arial; font-weight:bold;">Check your answers </h1>

      <!-- before sending to ACAS -->

      {% if  data['representing'] == "myself" %}
      <h2 class="govuk-heading-m">Your personal details</h2>
        {% else %}

          <h2 class="govuk-heading-m">Claimant details</h2>
        {% endif %}



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

  {% if  data['representing'] == "myself" %}

        {% if  data['contacted'] == "email" %}
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['phone-number'] }}
           <!-- Sarah Philips -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="a-phone-number.html?change=true">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['claimant-email'] }}
           <!-- Sarah Philips -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="a-email.html?change=true">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
        </div>
        {% else %}

        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['claimant-email'] }}
           <!-- Sarah Philips -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="a-email.html?change=true">
            Change
            <span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
        </div>

  {% endif %}

  {% else %}
{% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">



            {% if  data['representing'] == "myself" %}
            Your legal name
              {% else %}

                Claimant name
              {% endif %}

          </dt>
          <dd class="govuk-summary-list__value">
           {{ data['full-name'] }}
             <!-- Sarah Philips -->
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-full-name.html?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">

                 {{ data['address_line_1'] }} <br>{{ data['address_line_2'] }}
                <br>      {{ data['posttown'] }}
                  <br>      {{ data['postcode'] }}

          <dd class="govuk-summary-list__actions">
            <a href="a-address.html?change=true">
              Change
              <span class="govuk-visually-hidden"> Address</span>
            </a>
          </dd>
        </div>





      </dl>
      {% if  data['rep-full-name-ec'] %}


      {% if  data['representing'] == "myself" %}
      <h2 class="govuk-heading-m">Representaive details</h2>
        {% else %}

        <h2 class="govuk-heading-m">Your details</h2>
        {% endif %}



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">

            {% if  data['representing'] == "myself" %}
                Representaive name
              {% else %}

              Your name
              {% endif %}

          </dt>
          <dd class="govuk-summary-list__value">
           {{ data['rep-full-name-ec'] }}
             <!-- Sarah Philips -->
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-rep-full-name-ec-rep.html?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>


        {% if  data['representing'] == "others" %}

              {% if  data['contacted'] == "email" %}
              <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
               {{ data['phone-number'] }}
                 <!-- Sarah Philips -->
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="a-phone-number.html?change=true">
                  Change
                  <span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
              </div>

              <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
               {{ data['claimant-email'] }}
                 <!-- Sarah Philips -->
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="a-email.html?change=true">
                  Change
                  <span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
              </div>
              {% else %}
        {% endif %}

        {% else %}
      {% endif %}
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Address
          </dt>
          <dd class="govuk-summary-list__value">

                 {{ data['address_line_1_ec_rep'] }} <br>{{ data['address_line_2_ec_rep'] }}
                <br>      {{ data['posttown_ec_rep'] }}
                  <br>      {{ data['postcode_ec_rep'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-address-rep-ec.html?change=true">
              Change
              <span class="govuk-visually-hidden"> Address</span>
            </a>
          </dd>
        </div> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email
          </dt>
          <dd class="govuk-summary-list__value">

                 {{ data['email-rep-ec'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-address-rep-ec.html?change=true">
              Change
              <span class="govuk-visually-hidden"> Email</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Phone
          </dt>
          <dd class="govuk-summary-list__value">

                 {{ data['phone-rep-ec'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-address-rep-ec.html?change=true">
              Change
              <span class="govuk-visually-hidden"> Email</span>
            </a>
          </dd>
        </div>


      </dl>


      {% else %}

      {% endif %}

      <h2 class="govuk-heading-m">Orgainsations or persons the claim is against</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Company name
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- John Lewis -->

            {{ data['company-1-legal-name'] }}


    {{ data['person-1-legal-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer-ec?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-1-address'] }}
            {{ data['company-1-ec-address_line_2'] }}
            {{ data['company-1-ec-address_posttown'] }}
            {{ data['company-1-ec-address_postcode'] }}

            {{ data['person-1-address'] }}
            <!-- 72 Guild Street
            <br>London
            <br>SE23 6FH -->
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href=a-employer-ec?change=true">
              Change
              <span class="govuk-visually-hidden"> Address</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m"> Details of someone we can contact</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Job title
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- John Lewis -->

            {{ data['company-1-job-title'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer-ec-contacts?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Full name
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- John Lewis -->

            {{ data['company-1-full-name'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer-ec-contacts?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Email
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- John Lewis -->

            {{ data['company-1-email'] }}
            {{ data['person-1-email'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer-ec-contacts?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Phone
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- John Lewis -->

            {{ data['company-1-phone'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer-ec-contacts?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Permission to speak to the organisation first
          </dt>
          <dd class="govuk-summary-list__value">
            <!-- John Lewis -->

            {{ data['company-1-consent'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="a-employer-ec?change=true">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>


      </dl>

      <h2 class="govuk-heading-m" id="reason">Case details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for dispute
          </dt>
          <dd class="govuk-summary-list__value">


              {{ data['reason'] }}
          <!-- Holiday pay incorrect.  <br> Even two months, after I left the company, I have been paid for unused holidays. -->
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="b-01-reason?change=true">
              Change
              <span class="govuk-visually-hidden"> Reason for dispute</span>
            </a>
          </dd>
        </div>

  {% if  data['reason'] == "Wages owed or holiday pay" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">

            {% if  data['representing'] == "myself" %}
          How much money do you think you are owed?

          {% else %}
    How much money does the claimant think their are owed?
        {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
        £ {{ data['w-how-much'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="w-how-much?change=true">
              Change
              <span class="govuk-visually-hidden"> How much money is owed?</span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
        When did you have this problem with the pay?
          </dt>
          <dd class="govuk-summary-list__value">
       {{ data['w-day'] }} &nbsp;   {{ data['w-month'] }} &nbsp; {{ data['w-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="w-q2?change=true">
              Change
              <span class="govuk-visually-hidden"> When did you have this problem with the pay?</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              {% if  data['representing'] == "myself" %}
          Why do you think you are owed this money?

  {% else %}
  Why does the claimant think their are owed this money?
          {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
        {{ data['w-why'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="w-why?change=true">
              Change
              <span class="govuk-visually-hidden">   Why do you think you are owed this money?</span>
            </a>
          </dd>
        </div>





        {% else %}

        {% endif %}

{% if  data['reason'] == "Redundancy Pay" %}

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  More than 2 years of service
  </dt>
  <dd class="govuk-summary-list__value">
{{ data['years-worked-r'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="d-r-two-years?change=true">
      Change
      <span class="govuk-visually-hidden">2 years of service</span>
    </a>
  </dd>
</div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Effective date of termination
          </dt>
          <dd class="govuk-summary-list__value">
       {{ data['y-r-end-day'] }} &nbsp;   {{ data['y-r-end-month'] }} &nbsp; {{ data['y-r-end-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="y-r-end-date?change=true">
              Change
              <span class="govuk-visually-hidden"> Effective date of termination</span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Date should you have received your payment?
          </dt>
          <dd class="govuk-summary-list__value">
       {{ data['y-r-pay-day'] }} &nbsp;   {{ data['y-r-pay-month'] }} &nbsp; {{ data['y-r-pay-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="y-r-pay-date?change=true">
              Change
              <span class="govuk-visually-hidden"> Date should you have received your payment</span>
            </a>
          </dd>
        </div>



<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
How much do you think you are owed?
  </dt>
  <dd class="govuk-summary-list__value">
£ {{ data['y-r-how-much'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="y-r-how-much?change=true">
      Change
      <span class="govuk-visually-hidden"> How much money do you think you are owed?</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
  Did you work a notice period?
  </dt>
  <dd class="govuk-summary-list__value">
{{ data['y-r-notice'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="y-r-notice?change=true">
      Change
      <span class="govuk-visually-hidden"> Did you work a notice period? </span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
Have you gone through any internal procedures to try to resolve this?
  </dt>
  <dd class="govuk-summary-list__value">
{{ data['y-r-internal'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="y-r-internal?change=true">
      Change
      <span class="govuk-visually-hidden"> Have you gone through any internal procedures to try to resolve this? </span>
    </a>
  </dd>
</div>



        {% else %}

        {% endif %}


        {% if  data['reason'] == "Discrimination" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
         Discriminated because of
          </dt>
          <dd class="govuk-summary-list__value">
        {{ data['z-d-why'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="z-d-why?change=true">
              Change
              <span class="govuk-visually-hidden"> Discriminated because of </span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
         When was the most recent incident ?
          </dt>
          <dd class="govuk-summary-list__value">
        {{ data['z-d-day'] }} {{ data['z-d-month'] }} {{ data['z-d-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="z-d-date?change=true">
              Change
              <span class="govuk-visually-hidden"> When was the most recent incident ? </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is this a one off incident?

          </dt>
          <dd class="govuk-summary-list__value">
        {{ data['z-d-one'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="z-d-one?change=true">
              Change
              <span class="govuk-visually-hidden"> Is this a one off incident?
 </span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Details of why you think you have discriminated against

          </dt>
          <dd class="govuk-summary-list__value">
        {{ data['z-d-details'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="z-d-details?change=true">
              Change
              <span class="govuk-visually-hidden"> Details of why you think you have discriminated against
      </span>
            </a>
          </dd>
        </div>


        {% else %}

        {% endif %}


          {% if  data['reason'] == "Wrongful dismissal" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Why do you feel you have been wrongfully dismissed?

            </dt>
            <dd class="govuk-summary-list__value">
          {{ data['z-2-w-why'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="z-2-w-why?change=true">
                Change
                <span class="govuk-visually-hidden"> Why do you feel you have been wrongfully dismissed?
        </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Do you have a contract?

            </dt>
            <dd class="govuk-summary-list__value">
          {{ data['z-2-w-contract'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="z-2-w-contract?change=true">
                Change
                <span class="govuk-visually-hidden"> Why do you feel you have been wrongfully dismissed?
        </span>
              </a>
            </dd>
          </div>




<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
What clause in your contract was breached?

  </dt>
  <dd class="govuk-summary-list__value">
{{ data['z-2-w-clause'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="z-2-w-clause?change=true">
      Change
      <span class="govuk-visually-hidden"> What clause in your contract was breached?
</span>
    </a>
  </dd>
</div>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
Tried internal procedures to try to resolve this

  </dt>
  <dd class="govuk-summary-list__value">
{{ data['z-2-w-try'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="z-2-w-try?change=true">
      Change
      <span class="govuk-visually-hidden"> Tried internal procedures to try to resolve this
</span>
    </a>
  </dd>
</div>




          {% else %}

          {% endif %}



            {% if  data['reason'] == "Unfair dismissal" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
            More than 2 years of service

              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-3-years'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-3-years?change=true">
                  Change
                  <span class="govuk-visually-hidden"> More than 2 years of service
            </span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
             Date of termination

              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-3-end-day'] }} {{ data['z-3-end-month'] }} {{ data['z-3-end-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-3-end-date?change=true">
                  Change
                  <span class="govuk-visually-hidden">  Date of termination
            </span>
                </a>
              </dd>
            </div>





            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
             Reason given for your dismissal

              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-3-reason'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-3-reason?change=true">
                  Change
                  <span class="govuk-visually-hidden"> Reason given
            </span>
                </a>
              </dd>
            </div>



            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
             Why do you feel this was unfair?

              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-3-feel'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-3-feel?change=true">
                  Change
                  <span class="govuk-visually-hidden"> Why do you feel this was unfair?
            </span>
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
            Have you appealed against the dismissal?

              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-3-appeal'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-3-appeal?change=true">
                  Change
                  <span class="govuk-visually-hidden"> Why do you feel this was unfair?
            </span>
                </a>
              </dd>
            </div>

            {% else %}

            {% endif %}

    {% if  data['reason'] == "Constructive dismissal" %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
    More than 2 years of service

      </dt>
      <dd class="govuk-summary-list__value">
    {{ data['z-4-years'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="z-4-years?change=true">
          Change
          <span class="govuk-visually-hidden">   More than 2 years of service
    </span>
        </a>
      </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
  When did you resign?

      </dt>
      <dd class="govuk-summary-list__value">
    {{ data['z-4-end-day'] }}  {{ data['z-4-end-month'] }}   {{ data['z-4-end-year'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="z-4-end-date?change=true">
          Change
          <span class="govuk-visually-hidden">   More than 2 years of service
    </span>
        </a>
      </dd>
    </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
Why did you feel you had no option but to resign?

      </dt>
      <dd class="govuk-summary-list__value">
    {{ data['z-4-why'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="z-4-why?change=true">
          Change
          <span class="govuk-visually-hidden">   Why did you feel you had no option but to resign?
    </span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
Did you raise a grievance regarding the situation?

      </dt>
      <dd class="govuk-summary-list__value">
    {{ data['z-4-appeal'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="z-4-appeal?change=true">
          Change
          <span class="govuk-visually-hidden">  Did you raise a grievance regarding the situation?
    </span>
        </a>
      </dd>
    </div>



    {% else %}

    {% endif %}

    {% if  data['reason'] == "Equal pay" %}

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
Why do you feel your employer has failed to provide equal pay?

      </dt>
      <dd class="govuk-summary-list__value">
    {{ data['z-5-why'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="z-5-why?change=true">
          Change
          <span class="govuk-visually-hidden"> Why do you feel your employer has failed to provide equal pay?
    </span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
Is the comparator of the opposite sex?

      </dt>
      <dd class="govuk-summary-list__value">
    {{ data['z-5-comp'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="z-5-comp?change=true">
          Change
          <span class="govuk-visually-hidden"> Is the comparator of the opposite sex?
    </span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
Are there any other people in your situation who have also made a claim?

      </dt>
      <dd class="govuk-summary-list__value">
    {{ data['z-5-others'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="z-5-others?change=true">
          Change
          <span class="govuk-visually-hidden"> Are there any other people in your situation who have also made a claim?
    </span>
        </a>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
Have you been through any internal procedures or raised a grievance?

      </dt>
      <dd class="govuk-summary-list__value">
    {{ data['z-5-internal'] }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a href="z-5-internal?change=true">
          Change
          <span class="govuk-visually-hidden"> Have you been through any internal procedures or raised a grievance?
    </span>
        </a>
      </dd>
    </div>



    {% else %}

    {% endif %}



            {% if  data['reason'] == "Whistleblowing" %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
 Concern regarding the workplace

              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-6-concern'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-6-concern?change=true">
                  Change
                  <span class="govuk-visually-hidden">  Concern regarding the workplace
            </span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
 Why the claim is  about whistleblowing?

              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-6-why'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-6-why?change=true">
                  Change
                  <span class="govuk-visually-hidden">   Why the claim is  about whistleblowing?
            </span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you know the date when this occured?


              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-6-when'] }} - {{ data['z-6-day'] }} {{ data['z-6-month'] }} {{ data['z-6-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-6-when?change=true">
                  Change
                  <span class="govuk-visually-hidden">   Why the claim is  about whistleblowing?
            </span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is the detriment (or dismissal) you faced?


              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-6-what'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-6-what?change=true">
                  Change
                  <span class="govuk-visually-hidden">   What is the detriment (or dismissal) you faced?
            </span>
                </a>
              </dd>
            </div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have you been through any internal procedures or raised a grievance?


              </dt>
              <dd class="govuk-summary-list__value">
            {{ data['z-6-legal'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="z-6-what?change=true">
                  Change
                  <span class="govuk-visually-hidden">   Have you been through any internal procedures or raised a grievance?
            </span>
                </a>
              </dd>
            </div>

            {% else %}
                    {% endif %}



                    {% if  data['reason'] == "Others" %}

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
        Details about the dispute

                      </dt>
                      <dd class="govuk-summary-list__value">
                    {{ data['z-7-o-details'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a href="z-7-o-details?change=true">
                          Change
                          <span class="govuk-visually-hidden">    details about the dispute
                    </span>
                        </a>
                      </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Do you know the last date when this occured?


                      </dt>
                      <dd class="govuk-summary-list__value">
                    {{ data['z-7-when'] }} - {{ data['z-7-day'] }} {{ data['z-7-month'] }} {{ data['z-7-year'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a href="z-7-when?change=true">
                          Change
                          <span class="govuk-visually-hidden">   Do you know the last date when this occured?
                    </span>
                        </a>
                      </dd>
                    </div>




                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Have you been through any internal procedures or raised a grievance?


                      </dt>
                      <dd class="govuk-summary-list__value">
                    {{ data['z-7-legal'] }}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                        <a href="z-7-legal?change=true">
                          Change
                          <span class="govuk-visually-hidden">   Have you been through any internal procedures or raised a grievance?
                    </span>
                        </a>
                      </dd>
                    </div>

                    {% else %}
                            {% endif %}



      </dl>





      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>By submitting this you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>
{% endblock %}
