{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation" style="background:#0064C8 !important">
        <h1 class="govuk-panel__title" style="color:#fff !important; border:0px!important ">You have notified Acas</h1>

        <!-- You haveApplication complete -->
        <div class="govuk-panel__body">
          Your reference number<br><strong>R99668890</strong>
        </div>
      </div>

      <p>
        You will need this reference number when you speak with us.
        We have sent you a confirmation email.
      </p>


      <p class="govuk-body-">You have added the following people or organisations to this claim:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>  {{ data['company-1-legal-name'] }} </li>

      </ul>





      <h2 class="govuk-heading-m">What happens next</h2>
      <p>You’ll receive an email with your certificate which will include your certificate number – please check your spam folder for this.</p>
      <!-- <p>With in 48 hours you’ll receive an email with the certificate if we don't need any further information or clarifications –  -->
      <!-- <p>  Please check your spam folder for this.</p> -->
      <!-- <p>They may contact you either to ask for more information or let you know of the next steps, or to ask for more information.</p> -->
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>


    </div>
  </div>

{% endblock %}
