
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<br> <br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l" >
        Find a solution to your employment dispute
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>
      <!-- {{releaseVersion | log }} -->




      <p>Use this service to start the legal process in which you tell Acas that:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>you have a dispute with your employer </li>
      <li>you intend to make a claim to an employment tribunal </li>

      </ul>


      <!-- <div role="note" aria-label="Information" class="guidance-text">
      <p>If you are unable to use this online service, please call us on 0300 123 1122.</p>
      </div> -->




      <p id="get-started" class="get-started group">



        <a class="gem-c-button govuk-button govuk-button--start acas-branding" role="button" rel="external" data-module="cross-domain-tracking" data-tracking-code="UA-43414424-1" data-tracking-name="transactionTracker" href="a-01-represent">  Star now
        <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>



          </p>


<h2 class="govuk-heading-m">Information and documents to support Alpha assessment by criteria</h2>

<p> Here is the documentations which we will be using to support Alpha assessment</p>


          <p id="get-started" class="get-started group">



            <a class="gem-c-button govuk-button govuk-button--start acas-branding" role="button" rel="external" data-module="cross-domain-tracking" data-tracking-code="UA-43414424-1" data-tracking-name="transactionTracker" href="01_alpha_assessment">  Documentations to support  Alpha assessment
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>



              </p>

          <!-- <div role="note" aria-label="Information" class="callout">
          <p>This guide is also available <a href="/">in Welsh (Cymraeg)</a>.</p>
          </div> -->


                    <details class="govuk-details">
                      <summary class="govuk-details__summary">

                        <span class="govuk-details__summary-text">
                          User journey demos
                        </span>
                      </summary>
                      <div class="govuk-details__text">
                    	    <h3 class="govuk-heading-m"><span class="govuk-caption-m"> </span>  Claimant seeking early conciliation </h3>
                           <p>  AS a claimant, I NEED TO give information about my dispute SO THAT I can start early conciliation.</p>
                    	  <ul class="list list-bullet">
                          <li><a href="https://vimeo.com/664210696" target="_blank">https://vimeo.com/664210696</a>
                            <br>


                           <strong>Password:</strong> acas321</li>





                    </ul>
                      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    	    <h3 class="govuk-heading-m"><span class="govuk-caption-m"></span>  Claimant seeking certificate </h3>
                          <p> AS a claimant, I NEED TO get a certificate from ACAS SO THAT I can make a claim to the tribunal.
   </p>
                    	  <ul class="list list-bullet">
                      <li><a href="https://vimeo.com/664197240" target="_blank">https://vimeo.com/664197240</a>


                      <br> <strong>Password:</strong> acas321</li>






                    </ul>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                    <h3 class="govuk-heading-m"><span class="govuk-caption-m"> </span>   Professional seeking early conciliation </h3>

                      <p>  AS a representative of a claimant, I NEED TO give information about my dispute SO THAT I can start early conciliation.</p>
                    	  <ul class="list list-bullet">
                          <li><a href="https://vimeo.com/664219174" target="_blank">https://vimeo.com/664219174</a>



                                      <br> <strong>Password:</strong> acas321






                    </ul>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


                    	  <h3 class="govuk-heading-m"><span class="govuk-caption-m"></span>   Professional seeking certificate </h3>

                        <p> AS a representative of a claimant, I NEED TO get a certificate from ACAS SO THAT I can make a claim to the tribunal.
</p>
                    	  <ul class="list list-bullet">
                          <!-- <li><strong><a href="https://vimeo.com/664223283" target="_blank">https://vimeo.com/664223283 </a></strong> -->
  <li><strong><a href="https://vimeo.com/664600589" target="_blank">https://vimeo.com/664600589</a></strong>



                          <br>
                          <strong>Password:</strong> acas321






                          </li>



                    </ul>

                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                      </div>
                    </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">

              <span class="govuk-details__summary-text">
                Version history
              </span>
            </summary>
            <div class="govuk-details__text">
          	    <h3 class="govuk-heading-m"><span class="govuk-caption-m">7 Febuary 2022</span>  Version 3 </h3>
          	  <ul class="list list-bullet">
                <li><a href="https://acas2-alpha.herokuapp.com" target="_blank">https://acas2-alpha.herokuapp.com</a>
                  <br>

                <strong>Username:</strong> acas
                <br> <strong>Password:</strong> acas999</li>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          		<li >
          	  <p>  <strong>Made changes based on  <a href="#" target="_blank"> findings</a> from user testing sessions with Claimants and Professionals from 24 January 2022 to 4 Febuary 2022. </strong></p>


              <ol class="govuk-list govuk-list--number">
                <li>Change one.</li>
                <li>Change two.</li>
                <li>Change three.</li>
                  <li>Change four.</li>
              </ol>

              </li>




          </ul>
          	    <h3 class="govuk-heading-m"><span class="govuk-caption-m">24 January 2022</span>  Version 2.2 </h3>
          	  <ul class="list list-bullet">
            <li><a href="https://acas2-alpha.herokuapp.com" target="_blank">https://acas2-alpha.herokuapp.com</a>
<br>
            <strong>Username:</strong> acas
            <br> <strong>Password:</strong> acas999</li>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          		<li>
          	  <p> <strong> Made changes based on  <a href="#" target="_blank"> findings</a> from user testing sessions with Claimants and Professionals from 10 January 2022  to 21 Febuary 2022.</strong> </p>
              <ol class="govuk-list govuk-list--number">
                <li>Change one. </li>
                <li>Change two.</li>
                <li>Change three.</li>
                  <li>Change four.</li>
              </ol>

              </li>


          </ul>    <h3 class="govuk-heading-m"><span class="govuk-caption-m">10 January 2022</span>  Version 2 </h3>
          	  <ul class="list list-bullet">
                <li><a href="https://publiclaw.herokuapp.com/-c110a" target="_blank">https://acas2-alpha.herokuapp.com</a>

                <br>
                            <strong>Username:</strong> acas
                            <br> <strong>Password:</strong> acas999


                <li>

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p>  <strong>Made changes based on  <a href="#" target="_blank"> findings</a> from user testing sessions with Claimants and Professionals from 9 December 2021  to 23 December 2021. </strong></p>
                </li>

                <ol class="govuk-list govuk-list--number">
                  <li>Change one. </li>
                  <li>Change two.</li>
                  <li>Change three.</li>
                    <li>Change four.</li>
                </ol>

          </ul>


          	  <h3 class="govuk-heading-m"><span class="govuk-caption-m">29 December 2021</span>  Version 1.2 </h3>
          	  <ul class="list list-bullet">
                <li><strong><a href="https://acas-alpha.herokuapp.com/a-01-represent" target="_blank">https://acas-alpha.herokuapp.com/</a></strong>

                  <br>
                <strong>Username:</strong> acas
                <br>
                <strong>Password:</strong> acas777

              </li>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                <li>
                <p> <strong> Made changes based on  <a href="#" target="_blank"> findings</a> from user testing sessions with Claimants and Professionals from 9 December 2021  to 23 December 2021. </strong> </p>

                <ol class="govuk-list govuk-list--number">
                  <li>Based feedback from professional rep added warning "If early conciliation is not successful you can still go to the employment tribunal." to "Why try early conciliation?" under "Would you like to try the free early conciliation service?" question.</li>
                  <li>Changed hint text for Legal Name to


                  "Enter legal name as it appears on your passport, birth certificate or driving licence"
                  from
  "Enter legal name as it appears on your passport"

  as one of the professional rep pointed out that some users may not have a possport.


                </li>


                  <li>Removed the word "jeopardising" as users found it stressful and paused with an emotional reaction when they read this word.</li>
                    <li>Added a link for looking for the name of a school, on <a href="https://get-information-schools.service.gov.uk" target="_blank">Information about schools</a> on GOV.UK, which was a professional users said they use to verify the address is correct.</li>
                </ol>

                </li>


          </ul>
          	   <h3 class="govuk-heading-m"> <span class="govuk-caption-m">9 December 2021</span>  Version 1 </h3>
          	  <ul class="list list-bullet">
            <li><strong><a href="https://acas-alpha.herokuapp.com/a-01-represent" target="_blank">https://acas-alpha.herokuapp.com/</a></strong>
        <br>    <strong>Username:</strong> acas <br>
          	<strong>Password:</strong> acas777


            </li>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<li>
<p> <strong> Started work on prototype based on  <a href="#" target="_blank"> user needs</a> from <a href="#" target="_blank">findings</a> from discovery report and user interview sessions with ECSOs and conciliators from 19 November 2021  to 8 December 2021. </strong> </p>

<ol class="govuk-list govuk-list--number">
  <li>Started to use one question per page as recommended by the GDS in the last assessment.</li>
  <li>Started to use progressive disclosure to show relavent content based on users input (branching).</li>

<!-- <li>  Started to show different pages depending on user input (branching)</li> -->
  <li>Started to use the task-list pattern from the GOV.UK design system.</li>
  <li>Started to use check my answers pattern from the GOV.UK design system.</li>
  <li>Started to use date pattern from the GOV.UK design system.</li>
  <li>Started to use email pattern from the GOV.UK design system.</li>

  <li>Made changes based on findings and recommendations from  DAC accessibility report. </li>
  <li>Made content changes to questions based on recommendations from  ECSOs and conciliators. </li>
  <!-- <li>Added a link to <a href="https://find-and-update.company-information.service.gov.uk" target="_blank">Companies House information</a> on GOV.UK, if they have ‘Plc’, ‘ltd’ or ‘Limited’ at the end of their name, to lookup organisation's legal name under hint text. </li> -->




</ol>

          </ul>
            </div>
          </details>

    </div>
  </div>

{% endblock %}
