
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<br> <br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l" >
        Find a solution to your employment dispute
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>
      <!-- {{releaseVersion | log }} -->




      <p>Use this service to start the legal process in which you tell Acas that:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>you have a dispute with your employer </li>
      <li>you intend to make a claim to an employment tribunal </li>

      </ul>


      <!-- <div role="note" aria-label="Information" class="guidance-text">
      <p>If you are unable to use this online service, please call us on 0300 123 1122.</p>
      </div> -->




      <p id="get-started" class="get-started group">



        <a class="gem-c-button govuk-button govuk-button--start acas-branding" role="button" rel="external" data-module="cross-domain-tracking" data-tracking-code="UA-43414424-1" data-tracking-name="transactionTracker" href="a-01-represent">  Star now
        <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>



          </p>


<h2 class="govuk-heading-m">Information and documents to support Alpha assessment by criteria</h2>

<p> Here is the documentations which we will be using to support Alpha assessment</p>


          <p id="get-started" class="get-started group">



            <a class="gem-c-button govuk-button govuk-button--start acas-branding" role="button" rel="external" data-module="cross-domain-tracking" data-tracking-code="UA-43414424-1" data-tracking-name="transactionTracker" href="01_alpha_assessment">  Documentations to support  Alpha assessment
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
          </a>



              </p>

          <!-- <div role="note" aria-label="Information" class="callout">
          <p>This guide is also available <a href="/">in Welsh (Cymraeg)</a>.</p>
          </div> -->



    </div>
  </div>

{% endblock %}
