
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="page-one-email-no-ec-myself" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="page-header" style="font-size: 2em;  font-family: Arial; font-weight:bold;">
      Enter code to confirm your email address
      </h1>

      <div id="email-hint" class="govuk-hint">
      <p>    We have sent a code to: <strong style="font-weight:bold">  {{ data['claimant-email'] }}</strong>  </p>
      <p> The code will expire in 30 minutes.</p>
      <div class="govuk-warning-text">
<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
<strong class="govuk-warning-text__text">
  <span class="govuk-warning-text__assistive">Warning</span>
If you use a browser to access your email, you may need to open a new window or tab to see the code.
</strong>
</div>

      </div>

  <form action="start-task-list-confirm-email-no-ec-myself">


    <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        Confirmation code
      </label>
      <div id="email-hint" class="govuk-hint">
        For example, DNCLRK
        </div>

       <input class="govuk-input govuk-input--width-10" id="width-5" name="width-20" type="text">
    </div>



    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        I have not received the email
        </span>
      </summary>
      <div class="govuk-details__text">
      <p>  The email may take a few minutes to arrive.
        <!-- Its subject line is: ‘Confirm your email address - Government Gateway’. -->
      </p>
      <p>   Check your spam or junk folder – if it still has not arrived, you can
      <a href="" >request a new code</a> or <a href="" >provide another email address</a> . </p>
      </div>
    </details>


            <button class="govuk-button btn-primary" data-module="govuk-button">
              Confirm and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
