
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Claim child tax credits
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>
      <!-- {{releaseVersion | log }} -->
  <h2 class="govuk-heading-m">Overview</h2>

<p>  You can only make a claim for Child Tax Credit if you already get Working Tax Credit.</p>

<p>
You might be able to apply for Pension Credit if you and your partner are State Pension age or over.</p>



      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>provide copies of documents to show you are entitled to tax relief </li>
        <li>report actual income from self-employment if you estimated it when you renewed (the deadline is 31 January) </li>
        <li>tell HM Revenue and Customs (HMRC) about changes to your circumstances, for example you get married or your working hours change
</li>
  <li>find out how much and when you’ll be paid</li>
      </ul>



      <div role="note" aria-label="Information" class="govuk-inset-text">
      <p>This guide is also available <a href="/">in Welsh (Cymraeg)</a>.</p>
      </div>



      <p id="get-started" class="get-started group">



        <a class="gem-c-button govuk-button govuk-button--start" role="button" rel="external" data-module="cross-domain-tracking" data-tracking-code="UA-43414424-1" data-tracking-name="transactionTracker" href="page-one">  Start now
        <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewbox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>



          </p>




          <section class="more">
            <div id="before-you-start">
        <h2 class="govuk-heading-m">Before you start</h2>


    <div class="gem-c-govspeak govuk-govspeak" data-module="govspeak">

          <p>If you’re signing in to the service for the first time, you’ll need:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a Government Gateway user ID and password - if you do not have a user ID, you can create one when you use the service</li>
      <li>a permanent <a href="/national-insurance/your-national-insurance-number">National Insurance number</a>
    </li>
    </ul>

    <p>You also need to prove your identity. You can use any 2 of the following:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your tax credit claim details</li>
      <li><a href="/paye-forms-p45-p60-p11d/p60">your P60</a></li>
      <li>one of your 3 most recent payslips</li>
      <li>your UK passport details</li>
      <li>information held on your <a rel="external" href="https://www.citizensadvice.org.uk/debt-and-money/borrowing-money/how-lenders-decide-whether-to-give-you-credit/">credit file</a> (such as loans, credit cards or mortgages)</li>
      <li>details from your Self Assessment tax return (in the last 3 years)</li>
      <li>your Northern Ireland driving licence</li>
    </ul>

    <p>Signing in will also activate your personal tax account - you can use this to check and manage your <abbr title="HM Revenue and Customs">HMRC</abbr> records.</p>

    <h2 id="renewing-your-tax-credits" class="govuk-heading-m">Renewing your tax credits</h2>

    <p>You can no longer renew your tax credits online for the 2020 to 2021 tax year.</p>

    <p><a href="/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries">Contact <abbr title="HM Revenue and Customs">HMRC</abbr></a> by phone or post if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you’ve missed the deadline for renewing your tax credits</li>
      <li>you’ve renewed your tax credits and there’s a mistake on your award notice</li>
    </ul>

    <p>You’ll need:</p>

    <u class="govuk-list govuk-list--bullet">
      <li>your renewal pack (if you have one)</li>
      <li>your National Insurance number</li>
      <li>details about any <a href="/changes-affect-tax-credits">changes to your circumstances</a>
    </li>
      <li>
    <a href="/claim-tax-credits/what-counts-as-income">you and your partner’s total income</a> for the last tax year (6 April 2020 to 5 April 2021)</li>
    </ul>

    <div role="note" aria-label="Information" class="application-notice info-notice">
    <p>You cannot claim tax credits and Universal Credit at the same time. Your tax credits will stop if you or your partner apply for Universal Credit. <a href="/how-tax-credits-affect-other-benefits">Check how tax credits and Universal Credit affect each other</a>.</p>
    </div>



    </div>
      </div>



      </section>
    </div>
  </div>

{% endblock %}
