
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="page-one-email" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="page-header" style="font-size: 2.5em;  font-family: Arial; font-weight:bold;">
      Enter the 6 digit code that was sent to you
      </h1>

      <div id="email-hint" class="govuk-hint">
      <p>    To confirm it is your email address we have sent you a code.  </p>
        <p> To resend the code please click <a href="#">here</a>
          </p>
      </div>

  <form action="task-list">


    <div class="govuk-form-group">
      <label class="govuk-label" for="email">
        6 digit code to confirm
      </label>

      <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
    </div>






            <button class="govuk-button btn-primary" data-module="govuk-button">
              confirm and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
