{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

<a href="a-01-represent" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="page-header" style="font-size: 2em;  font-family: Arial; font-weight:bold;">
    Find a solution to your employment dispute and start early conciliation
      </h1>

    <!--   <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 6 sections.</p> -->

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Enter your details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-full-name.html?change=false" aria-describedby="eligibility-status">
                  Your legal name
                </a>
              </span>

              {% if  data['full-name'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-address.html?change=false" aria-describedby="read-declaration-status">
                Your address name
                </a>
              </span>
              {% if  data['address_line_1'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
              <!-- <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> -->
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Enter details of who your claim is against
          </h2>
          <ul class="app-task-list__items">
            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                Employers' name
                </a>
              </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li> -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-employer" aria-describedby="contact-details-status">
                Organisation or person
                </a>
              </span>
              {% if  data['company-1-legal-name'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}

          </li>
  <!-- <li class="app-task-list__item-">
    <span class="app-task-list__task-name-"> -->
          <script>


          var counter = 1;

          var limit = 5;

          function addInput(divName){

               if (counter == 2)  {
                    // alert("You have reached the limit of adding " + counter + " inputs");
                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Thrid organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;  color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b;font-size:.8em'  > Remove </strong></li>   ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;
               }
              else if (counter == 3)  {
                    // alert("You have reached the limit of adding " + counter + " inputs");
                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Fourth organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;  color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b;font-size:.8em'  > Remove </strong></li>   ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;
               }

               else if (counter == 4)  {
                     // alert("You have reached the limit of adding " + counter + " inputs");
                     var newdiv = document.createElement('div');

                     newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Fifth organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;  color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b;font-size:.8em'  > Remove </strong></li>   ";

                     document.getElementById(divName).appendChild(newdiv);




                     counter++;
                }
               else {

                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Second organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;  color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b; font-size:.8em'  >  Remove </strong></li>   ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;

               }

          }


          </script>


          <!--<form method="POST">-->
               <div id="dynamicInput">
                   <!-- Entry 1<br><input type="text" name="myInputs[]">-->

               </div>
               <input type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" value="Add another" onClick="addInput('dynamicInput');">


               <!-- </span>

               </li> -->



          <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li> -->
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Enter details about your dispute
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                Reason for your dispute
                </a>
              </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  How much do you want to claim?
                </a>
              </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li> -->
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Check your answer and send to ACAS
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="check-your-answers" aria-describedby="contact-details-status">
                  Check your answers and send
                </a>
              </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>

            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li> -->
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
