{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

<a href="a-01-represent" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="page-header" style="font-size: 2em;  font-family: Arial; font-weight:bold;">
    <!-- Find a solution to your employment dispute -->
    Get a certificate to go to an employment tribunal
      </h1>

      <!-- <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 6 sections.</p> -->

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Enter your details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-full-name-no-ec-myself.html?change=false" aria-describedby="eligibility-status">
                  Your legal name
                </a>
              </span>

              {% if  data['full-name'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-address-no-ec-myself.html?change=false" aria-describedby="read-declaration-status">
                Your address name
                </a>
              </span>
              {% if  data['address_line_1'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
              <!-- <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> -->
            </li>
          </ul>
        </li>
        <!-- <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> If anyone is helping you with your claim, this person will be your 'representative'. Please enter representive details if you have one
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-rep-full-name-no-ec-rep" aria-describedby="company-information-status">
                Representative’s name
                </a>
              </span>
              {% if  data['rep-full-name'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              {% endif %}

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-rep-no-ec-contact-details" aria-describedby="contact-details-status">
                Representative’s contact details
                </a>
              </span>
              {% if  data['rep_contact_1'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              {% endif %}

            </li> -->


            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li> -->

        <li>
          <h2 class="app-task-list__section" id="ep">
            <span class="app-task-list__section-number">2. </span> Enter details of who the claim is against
          </h2>
          <ul class="app-task-list__items">
            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                Employers' name
                </a>
              </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li> -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-employer-no-ec-myself?change=false" aria-describedby="contact-details-status">
                Organisation or person



                </a>


                {% if  data['employer-type'] == "organisation" %}
                  : Organisation
                {% else %}

              {% endif %}

              {% if  data['employer-type'] == "person" %}
              :  Person
              {% else %}

              {% endif %}

              </span>


              {% if  data['employer-type'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}

          </li>



          {% if  data['employer-type'] == "organisation" %}



          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="a-employer-no-ec-name-myself?change=false" aria-describedby="contact-details-status">
             Organisation legal name
              </a>
            </span>
            {% if  data['company-1-legal-name'] %}
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}

        </li>

        <li class="app-task-list__item">
          <span class="app-task-list__task-name">
            <a href="a-employer-no-ec-address-myself?change=false" aria-describedby="contact-details-status">
            Organisation address
            </a>
          </span>
          {% if  data['company-1-ec-address'] %}
            <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
          {% else %}
          <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
          {% endif %}

        </li>





        {% else %}

            {% endif %}


            {% if  data['employer-type'] == "person" %}



            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-employer-no-ec-name-myself-person?change=false" aria-describedby="contact-details-status">
                Person's name
                </a>
              </span>
              {% if  data['person-1-legal-name'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}

          </li>

          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
              <a href="a-employer-no-ec-address-myself-person?change=false" aria-describedby="contact-details-status">
              Person's address
              </a>
            </span>
            {% if  data['company-1-ec-address'] %}
              <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
            {% else %}
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            {% endif %}

        </li>




          {% else %}

              {% endif %}


          <script>


          var counter = 1;

          var limit = 5;

          function addInput(divName){

               if (counter == 2)  {
                    // alert("You have reached the limit of adding " + counter + " inputs");
                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Thrid organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;'    > <a href='#ep' style='color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b; font-size:.8em; text-decoration:none' onClick='this.parentNode.parentNode.remove();'> Remove </a></strong></li>   ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;
               }
              else if (counter == 3)  {
                    // alert("You have reached the limit of adding " + counter + " inputs");
                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Fourth organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;'    > <a href='#ep' style='color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b; font-size:.8em; text-decoration:none' onClick='this.parentNode.parentNode.remove();'> Remove </a></strong></li>   ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;
               }

               else if (counter == 4)  {
                     // alert("You have reached the limit of adding " + counter + " inputs");
                     var newdiv = document.createElement('div');

                     newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Fifth organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;'    > <a href='#ep' style='color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b; font-size:.8em; text-decoration:none' onClick='this.parentNode.parentNode.remove();'> Remove </a></strong></li>   ";

                     document.getElementById(divName).appendChild(newdiv);




                     counter++;
                }
               else {

                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status' >  Second organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;'    > <a href='#ep' style='color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b; font-size:.8em; text-decoration:none' onClick='this.parentNode.parentNode.remove();'> Remove </a></strong></li> ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;

               }

          }


          </script>


          <!--<form method="POST">-->
               <div id="dynamicInput">
                   <!-- Entry 1<br><input type="text" name="myInputs[]">-->

               </div>
               <input type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" value="Add another" value="Add more" onClick="addInput('dynamicInput');">


               <!-- </span>

               </li> -->



          <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li> -->
          </ul>
        </li>

        <!-- <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Enter details about your dispute
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                Reason for your dispute
                </a>
              </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  How much do you want to claim?
                </a>
              </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li>
          </ul>
        </li> -->

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Check your answer and send to ACAS
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="check-your-answers-no-ec-myself" aria-describedby="contact-details-status">
                  Check your answers and send
                </a>
              </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>

            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li> -->
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
