{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

<a href="a-01-represent" class="govuk-back-link">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="page-header" style="font-size: 2em;  font-family: Arial; font-weight:bold;">
    Provide information to start early conciliation
      </h1>

    <!--   <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 6 sections.</p> -->

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Enter your details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-full-name.html?change=false" aria-describedby="eligibility-status">
                  Your legal name
                </a>
              </span>

              {% if  data['full-name'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}

            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-address.html?change=false" aria-describedby="read-declaration-status">
                Your address name
                </a>
              </span>
              {% if  data['address_line_1'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}
              <!-- <strong class="govuk-tag app-task-list__tag" id="read-declaration-status">Completed</strong> -->
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Enter details of who your claim is against
          </h2>
          <ul class="app-task-list__items">
            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                Employers' name
                </a>
              </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li> -->
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="a-employer-ec" aria-describedby="contact-details-status">
                Organisation or person
                </a>
              </span>
              {% if  data['company-1-legal-name'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %}

          </li>
  <!-- <li class="app-task-list__item-">
    <span class="app-task-list__task-name-"> -->
          <script>


          var counter = 1;

          var limit = 5;

          function addInput(divName){

               if (counter == 2)  {
                    // alert("You have reached the limit of adding " + counter + " inputs");
                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Thrid organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;  color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b;font-size:.8em'  > Remove </strong></li>   ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;
               }
              else if (counter == 3)  {
                    // alert("You have reached the limit of adding " + counter + " inputs");
                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Fourth organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;  color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b;font-size:.8em'  > Remove </strong></li>   ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;
               }

               else if (counter == 4)  {
                     // alert("You have reached the limit of adding " + counter + " inputs");
                     var newdiv = document.createElement('div');

                     newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Fifth organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;  color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b;font-size:.8em'  > Remove </strong></li>   ";

                     document.getElementById(divName).appendChild(newdiv);




                     counter++;
                }
               else {

                    var newdiv = document.createElement('div');

                    newdiv.innerHTML =  "<li class='app-task-list__item'> <span class='app-task-list__task-name'><a href='a-employer' aria-describedby='contact-details-status'>  Second organisation or person </a></span><strong class='govuk-tag- govuk-tag--grey- app-task-list__tag- ' style='float:right;  color:#fff; padding:5px; background-color: #d4351c; box-shadow: 0 2px 0 #55150b; font-size:.8em'  >  Remove </strong></li>   ";

                    document.getElementById(divName).appendChild(newdiv);




                    counter++;

               }

          }


          </script>


          <!--<form method="POST">-->
               <div id="dynamicInput">
                   <!-- Entry 1<br><input type="text" name="myInputs[]">-->

               </div>
               <input type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" value="Add another" onClick="addInput('dynamicInput');">


               <!-- </span>

               </li> -->



          <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li> -->
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Enter details about your dispute
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="b-01-reason?change=false" aria-describedby="reason for dispute">
                Reason for your dispute
                </a>&nbsp<strong> {{ data['reason'] }}</strong>
              </span>

              {% if  data['reason'] %}
                <strong class="govuk-tag app-task-list__tag" id="eligibility-status">Completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              {% endif %}

            </li>




            {% if  data['reason'] == "Wages owed or holiday pay" %}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  <!-- How much do you want to claim? -->

                How much money do you think you are owed?
                </a>
              </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  <!-- How much do you want to claim? -->

                When did you have this problem with your pay?
                </a>
              </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="contact-details-status">
                  <!-- How much do you want to claim? -->

              Why do you think you are owed this money?
                </a>
              </span>
            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
            </li>


                        <li class="app-task-list__item">
                          <span class="app-task-list__task-name">
                            <a href="#" aria-describedby="company-information-status">
                          Is your employer still in business?
                            </a>
                          </span>
                            <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                        </li>

    {% else %}
            {% endif %}


              {% if  data['reason'] == "Redundancy" %}


              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="contact-details-status">

            Have you worked for this organisation for more than 2 years?

                  </a>
                </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="contact-details-status">
                    <!-- How much do you want to claim? -->

                Why do you think you are owed Redundancy Pay ?
                  </a>
                </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="contact-details-status">
                    <!-- How much do you want to claim? -->
            What was your effective date of termination?

                  </a>
                </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              </li>



              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="contact-details-status">

            What date should you have received your payment?

                  </a>
                </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="contact-details-status">

          How much do you think you are owed?

                  </a>
                </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="contact-details-status">

        Did you work a notice period?

                  </a>
                </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              </li>

              <li class="app-task-list__item">
                <span class="app-task-list__task-name">
                  <a href="#" aria-describedby="contact-details-status">

        Have you gone through any internal procedures to try to resolve this?

                  </a>
                </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
              </li>



              {% else %}
                      {% endif %}


                      {% if  data['reason'] == "Discrimination" %}

                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="#" aria-describedby="contact-details-status">
                            <!-- How much do you want to claim? -->

                        Why do you believe you have been discriminated against at work?
                          </a>
                        </span>
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                      </li>

                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="#" aria-describedby="contact-details-status">
                            <!-- How much do you want to claim? -->

                      When was the most recent incident (date)?
                          </a>
                        </span>
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                      </li>

                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="#" aria-describedby="contact-details-status">
                            <!-- How much do you want to claim? -->

                      Is this a one off incident or have there been other incidents?
                          </a>
                        </span>
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                      </li>

                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="#" aria-describedby="contact-details-status">
                            <!-- How much do you want to claim? -->

                      What have you done to address this with the company?
                          </a>
                        </span>
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                      </li>
                      <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                          <a href="#" aria-describedby="contact-details-status">
                            <!-- How much do you want to claim? -->

                      Have you raised a grievance? If so what was the outcome?
                          </a>
                        </span>
                      <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                      </li>

                      {% else %}
                              {% endif %}


                                {% if  data['reason'] == "Wrongful dismissal" %}

                                <li class="app-task-list__item">
                                  <span class="app-task-list__task-name">
                                    <a href="#" aria-describedby="contact-details-status">

                            Why do you feel you have been wrongfully dismissed?
                                    </a>
                                  </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                </li>

                                <li class="app-task-list__item">
                                  <span class="app-task-list__task-name">
                                    <a href="#" aria-describedby="contact-details-status">


                          Do you have a contract?
                                    </a>
                                  </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                </li>

                                <li class="app-task-list__item">
                                  <span class="app-task-list__task-name">
                                    <a href="#" aria-describedby="contact-details-status">


                        What clause in your contract was breached?
                                    </a>
                                  </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                </li>


                                <li class="app-task-list__item">
                                  <span class="app-task-list__task-name">
                                    <a href="#" aria-describedby="contact-details-status">


                    Have you gone through any internal procedures to try to resolve this
                                    </a>
                                  </span>
                                <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                </li>
                                {% else %}
                                        {% endif %}

                                          {% if  data['reason'] == "Unfair dismissal" %}
                                          <li class="app-task-list__item">
                                            <span class="app-task-list__task-name">
                                              <a href="#" aria-describedby="contact-details-status">


                                      Have you worked for this organisation for more than 2 years?
                                              </a>
                                            </span>
                                          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                          </li>



                                          <li class="app-task-list__item">
                                            <span class="app-task-list__task-name">
                                              <a href="#" aria-describedby="contact-details-status">


                                        Could you confirm what date you were dismissed?
                                              </a>
                                            </span>
                                          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                          </li>

                                          <li class="app-task-list__item">
                                            <span class="app-task-list__task-name">
                                              <a href="#" aria-describedby="contact-details-status">


                                  What reason was given for your dismissal?
                                              </a>
                                            </span>
                                          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                          </li>

                                          <li class="app-task-list__item">
                                            <span class="app-task-list__task-name">
                                              <a href="#" aria-describedby="contact-details-status">


                              Why do you feel this was unfair?
                                              </a>
                                            </span>
                                          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                          </li>
                                          <li class="app-task-list__item">
                                            <span class="app-task-list__task-name">
                                              <a href="#" aria-describedby="contact-details-status">


                                      Have you appealed against the dismissal?
                                              </a>
                                            </span>
                                          <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                          </li>



                                          {% else %}
                                                  {% endif %}


                                                    {% if  data['reason'] == "Constructive dismissal" %}

                                                    <li class="app-task-list__item">
                                                      <span class="app-task-list__task-name">
                                                        <a href="#" aria-describedby="contact-details-status">


                                                Have you worked for this organisation for more than 2 years?
                                                        </a>
                                                      </span>
                                                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                                    </li>




                                                    <li class="app-task-list__item">
                                                      <span class="app-task-list__task-name">
                                                        <a href="#" aria-describedby="contact-details-status">


                                              When did  you resign?
                                                        </a>
                                                      </span>
                                                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                                    </li>

                                                    <li class="app-task-list__item">
                                                      <span class="app-task-list__task-name">
                                                        <a href="#" aria-describedby="contact-details-status">


                                                Why did you feel you had no option but to resign?
                                                        </a>
                                                      </span>
                                                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                                    </li>

                                                    <li class="app-task-list__item">
                                                      <span class="app-task-list__task-name">
                                                        <a href="#" aria-describedby="contact-details-status">


                                            Did you raise a grievance regarding the situation?
                                                        </a>
                                                      </span>
                                                    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="list-convictions-status">Optional</strong>
                                                    </li>



                                                    {% else %}
                                                            {% endif %}

            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  List convictions
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li> -->
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Check your answer and send to ACAS
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="check-your-answers" aria-describedby="contact-details-status">
                  Check your answers and send
                </a>
              </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
            </li>

            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit and pay
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li> -->
          </ul>
        </li>
      </ol>
    </div>
  </div>

{% endblock %}
