
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="task-list" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="page-header" style="font-size: 2em; font-family: Arial; font-weight:bold;">
      Why do you think you are owed this money?
        <!-- <span class="govuk-caption-xl">{{releaseVersion}}</span> -->
      </h1>


      {% if data['change'] == "true" %}
        <form action="check-your-answers#name">

      {% else %}

        <form action="task-list">
      {% endif %}



    <div class="govuk-form-group">
      <!-- <label class="govuk-label" for="full-name">
        Full name
      </label>
      <div id="more-detail-hint" class="govuk-hint">
  Enter full legal name as it appears on your passport, birth certificate or driving licence.
  </div> -->
      <!-- <input class="govuk-input" id="full-name" name="w-how-much" type="text" spellcheck="false" autocomplete="name" value="{{ data['w-how-much'] }}"></div> -->
<br>
        <textarea class="govuk-textarea" id="more-detail" name="w-why" rows="3">{{ data['w-why'] }}</textarea>

<br>
            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
