
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="task-list" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="page-header" style="font-size: 2em; font-family: Arial; font-weight:bold;">
<label for="was-unfair">
                      {% if  data['representing'] == "myself" %}
              Why do you feel this was unfair? (optional)

                                      {% else %}
                Why do they feel this was unfair? (optional)

                              {% endif %}
</label>
      </h1>


      {% if data['change'] == "true" %}
        <form action="check-your-answers#reason">

      {% else %}

        <form action="task-list#reason">
      {% endif %}



    <div class="govuk-form-group">

      <!-- <div id="more-detail-hint" class="govuk-hint">
  For example, you might tell us what happened, when it happened, who was involved and whether it was a series of events or a single event.
  </div> -->
      <!-- <input class="govuk-input" id="full-name" name="w-how-much" type="text" spellcheck="false" autocomplete="name" value="{{ data['w-how-much'] }}"></div> -->
<br>
        <textarea class="govuk-textarea" id="was-unfair" name="z-3-feel" rows="3">{{ data['z-3-feel'] }}</textarea>

<br>
            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
