
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="task-list" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="page-header" style="font-size: 2em; font-family: Arial; font-weight:bold;">
      <legend for="z-d-details">  {% if  data['representing'] == "myself" %}
        Give details on why you think you have been discriminated against (optional)

                        {% else %}
                        Give details on why they think they have been discriminated against (optional)

                {% endif %}</legend>
      </h1>


      {% if data['change'] == "true" %}
        <form action="check-your-answers#name">

      {% else %}

        <form action="task-list">
      {% endif %}



    <div class="govuk-form-group">

      <label class="govuk-label- govuk-label--s- page-header" for="z-d-details" >
        {% if  data['representing'] == "myself" %}
              Brief details why you think you have been discriminated against

                        {% else %}
    Brief details why they think they have been discriminated against

                {% endif %}


        </label>

      <div id="more-detail-hint" class="govuk-hint">
  For example, tell us what happened, when it happened, who was involved and whether it was a series of events or a single event.
  </div>
      <!-- <input class="govuk-input" id="full-name" name="w-how-much" type="text" spellcheck="false" autocomplete="name" value="{{ data['w-how-much'] }}"></div> -->
<br>
        <textarea class="govuk-textarea" id="z-d-details" name="z-d-details" rows="3">{{ data['z-d-details'] }}</textarea>

<br>
            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
