
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<a href="task-list" class="govuk-back-link">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="page-header" style="font-size: 2em; font-family: Arial; font-weight:bold;">

        {% if  data['representing'] == "myself" %}
      Provide phone number of person that may be willing to sort things out without going to employment tribunal (optional)

<!-- (Optional) -->

  {% else %}
  Provide phone number of person that may be willing to sort things out without going to employment tribunal (optional)
          {% endif %}


      </h1>
<div class="govuk-hint">
    <!-- {% if  data['representing'] == "myself" %}
We will contact them to talk about resolving the dispute.
{% else %}

        {% endif %} -->

 </div>

      {% if data['change'] == "true" %}
        <form action="check-your-answers#respondent-details">

      {% else %}

        <form action="task-list#respondent-details">
      {% endif %}



    <div class="govuk-form-group">
      <label class="govuk-label" for="respondent-phone">
        Phone number
      </label>
      <div id="more-detail-hint" class="govuk-hint">
    <!-- To avoid jeopardising the case we will need your correct legal name as it appears on the passport -->
  </div>
      <input class="govuk-input govuk-input--width-20" id="respondent-phone" name="respondent-phone" type="text" spellcheck="false" autocomplete="name" value="{{ data['respondent-phone'] }}"></div>




            <button class="govuk-button btn-primary" data-module="govuk-button">
              Save and continue
            </button>

            </form>
    </div>
  </div>

{% endblock %}
